* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    background-color:hsl(30, 38%, 92%);

}

/* TYPHOGRAPHY  */

h1 {
    margin: 0;
    font-family: 'Fraunces', serif;
    color: rgba(0, 0, 0, );
}

h2 {
    margin: 0 0 1em 0;
    font-weight: 500;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.637);
    letter-spacing: 6px;
    text-transform: uppercase;
}


p {
    word-spacing: 5px;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.637);
}

/* LAYOUT */

.container {
    width: 70%;
    max-width: 375px;
    margin: 1em  auto;

}

.content-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:fill;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.card-image{
   width: 100%;
}

.card-content {
    padding: 2em;
}

.price {
    display: flex;
    color:hsl(158, 36%, 37%);
    /* padding: 1em; */
}

.price > h2 {
    margin: .6em 0 0 1.8em;
    letter-spacing: 0;
    text-decoration: line-through;
}

/* Button */

.btn {
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    display: inline-block;
    border-radius: 13px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: hsl(158, 36%, 37%);
    padding: 1.3em;
    text-decoration: none;
    width: 100%;
    margin-top: .9em;
    border: none;
  }
  
  .btn:hover {
    background:hsl(159, 28%, 29%);
    text-decoration: none;
  }

@media (min-width:750px){



}

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

