* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1rem;
    background-color:  hsl(30, 38%, 92%);;
}

/* TYPHOGRAPHY  */


h1,
h2 {
    font-family: 'Fraunces', serif;
    margin: 0;
}

h2 {
    font-size: .9rem;
}

.card-content > h1 {
    color: hsla(0, 0%, 0%, 0.834);
    letter-spacing: 1.7px;
    line-height: 1em;
    font-size: 2.1rem;
    text-align: left;
    margin: .5em 0 ;
}

.card-content > h2  {
    color: hsla(0, 0%, 2%, 0.4);
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
}


p {
    font-size: 0.875rem;
    margin: 1em 0;
    word-spacing: 2px;
    line-height: 2em;
    color: hsla(0, 0%, 2%, 0.7);
}

.price {
    display: flex;
    color:hsl(158, 36%, 37%);
}

.price > h2 {
    margin: .6em 0 0 1.8em;
    letter-spacing: 0;
    text-decoration: line-through;
    color: hsla(0, 0%, 2%, 0.4);

}

/* LAYOUT  */

.perfume-image {
    width: 100%;
    height: 100%;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

.container {
    margin: 0.9em auto 0 auto;
    /* border: 1px solid black; */
    width: 100%;
    max-width: 750px;
    background-color: white;
    border-radius: 10px;
}

.card-container {
    display: flex;
}

.card-content {
    margin: .5em;
    padding: 2em;
}

/* .price {
    display: flex;
} */

/* BUTTON  */

.btn {
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    display: inline-block;
    border-radius: 13px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: hsl(158, 36%, 37%);
    padding: 1.3em;
    text-decoration: none;
    width: 100%;
    margin-top: .9em;
    border: none;
  }
  
  .btn:hover {
    background:hsl(159, 28%, 29%);
    text-decoration: none;
  }

  @media (max-width:800px) {
    .perfume-image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius:0px;
    }

    .container {
        width: 70%;
        max-width: 500px;
        margin: 1em  auto;
    
    }
    .card-container {
        display: flex;
        flex-direction: column;
    }
  }
